<!DOCTYPE html>
<html>
<head>
    <title> Local Weather Station </title>
    <meta charset="utf-8">
    <meta name="description" content="Lab Weather Condition - Raspberry PI">
    <meta name="author" content="Ashish Shrestha">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="datalog-wrapper">
        <div class="container">

            <!-- 
	    <div class="row">
                <div class="col-md-6">
                    <form id="datetime_range" action="/lab_env_db" method="GET">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="from">From Date</label>
                                <input type="text" name="from" id="datetimepicker1" value="{{from_date}}">
                            </div>
                            <div class="col-md-4">
                                <label for="to">To Date</label>
                                <input type="text" name="to" id="datetimepicker2" value="{{to_date}}">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Submit" class="btn-primary" id="submit_button" />
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
            <!-- 
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <form id="range_select" action="/lab_env_db" method="GET">
                        <div class="radio_button">
                            <input type="radio" name="range_h" value="3" id="radio_3">
                            <label for="radio_3">3hrs</label>
                        </div>

                        <div class="radio_button">
                            <input type="radio" name="range_h" value="6" id="radio_6">
                            <label for="radio_6">6hrs</label>
                        </div>

                        <div class="radio_button">
                            <input type="radio" name="range_h" value="12" id="radio_12">
                            <label for="radio_12">12hrs</label>
                        </div>

                        <div class="radio_button">
                            <input type="radio" name="range_h" value="24" id="radio_24">
                            <label for="radio_24">24hrs</label>
                        </div>   
                    </form>
                </div>   
            </div> -->
            <strong>Showing all Records</strong>
            <!-- Temperature -->
            <div class="row">
                <!-- Data Table -->
                <div class="col-md-4 col-lg-4">
                    <h2>Temperatures</h2>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>&deg;C</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in temp %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{'%0.2f'|format(row[2])}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Temperature Graph -->
                <div class="col-md-8 col-lg-8">
                    <div id="chart_temps"></div>
		</div>
            </div>
            <!-- Humidity -->
            <div class="row">

                <div class="col-md-4 col-lg-4">
                    <h2>Humidities</h2>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>%</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in hum %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{'%0.2f'|format(row[2])}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 

                <!-- Humidity Graph -->

                <div class="col-md-8">
                    <div id="chart_humid"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" />
<script type="text/javascript" src="/static/js/jquery.datetimepicker.full.js"></script>

<script>
	jQuery("#datetimepicker1").datetimepicker(
		{
			format: 'Y-m-d H:i',
			defaultDate: '{{from_date}}'
		});
	jQuery("#datetimepicker2").datetimepicker(
		{
			format: 'Y-m-d H:i',
			defaultDate: '{{to_date}}'
		});
</script>

<script>
    jQuery("#range_select input[type=radio]").click(function(){
            jQuery("#range_select").submit();
    });
</script>
<script
    type="text/javascript"
    src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"
>
</script>
 
<script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');
        data.addColumn('number', 'Temperature');
        data.addRows([
            {% for row in temp %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
            {% endfor %}
        ]);
        var options = {
            width: 600,
            height: 563,
            hAxis: {
              title: "Date",
              gridlines: { count: {{temp_items}}, color: '#CCC' },
              format: 'dd-MMM-yyyy HH:mm' },
            vAxis: {
              title: 'Degrees'
            },
            title: 'Temperature',
            curveType: 'function'  //Makes line curved
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_temps'));
        chart.draw(data, options);
    }
</script>

<script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');
        data.addColumn('number', 'Humidity');
        data.addRows([
            {% for row in hum %}
                    [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
            {% endfor %}
        ]);

        var options = {
                width: 600,
                height: 563,
                hAxis: {
                    title: "Date",
                    gridlines: { count: {{hum_items}}, color: '#CCC' },
                    format: 'dd-MMM-yyyy HH:mm'        },
                vAxis: {
                    title: 'Percent'
                },
                title: 'Humidity',
                curveType: 'function'  //Makes line curved
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_humid'));
        chart.draw(data, options);
    }
</script> 
</html>
